<!DOCTYPE html>
<html>
<head>
  <title>Rules</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <h1>Rules</h1>
  <p>The rules of Rock-Paper-Scissors are simple:</p>
  <ul>
    <li>Rock beats Scissors</li>
    <li>Scissors beats Paper</li>
    <li>Paper beats Rock</li>
  </ul>
</body>
</html>
